{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Jordan Miracle</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'portfolioapp/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'portfolioapp/css/fontawesome-all.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <noscript>
        <link rel="stylesheet" href="{% static 'portfolioapp/css/noscript.css' %}"/>
    </noscript>
    <script>
        (function () {
            const tab = document.querySelector('.card');

            document.getElementById('{{ project.id }}').addEventListener('click', function () {
                tab.classList.add('back');
            }, false);

            document.getElementById('{{ project.id }}').addEventListener('click', function () {
                tab.classList.remove('front');
            }, false);
        })();
    </script>
    <script>

    </script>
    <style>
        .front:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 6px;
            backface-visibility: hidden;
            background-image: url("{{ project.image }}");
            background-size: 100% auto;
        }

        h1 {
            width: 90px;
            height: 90px;
            position: absolute;
            animation: mymove 20s infinite;
        }

        @keyframes mymove {
            from {
                right: 0px;
            }
            to {
                right: 700px;
            }
        }

        /*----------nuage------------------------------------------------------*/
        i {
            opacity: 20%;
            width: 1500px;
            height: 700px;
            position: absolute;
            animation: mymove 80s infinite;

        }

        @keyframes mymove2 {
            from {
                left: 0px;
            }
            to {
                left: 1400px;
            }
        }
    </style>

</head>
<body class="is-preload">
<div style="keyframes mymove2" id="nuage">
    <div>
        <i>
            <img class=img-responsive src="{% static 'portfolioapp/images/NUAGE.png' %}" height=500px width=auto
                 title="Clouds"/></i></div>

</div>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <a href="#" class="icon solid fa-home"><span>Home</span></a>
        <a href="#about" class="icon solid fa-male"><span>About</span></a>
        <a href="#projects" class="icon solid fa-folder"><span>Projects</span></a>
        <!--
        <a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a> -->
        <a href="https://github.com/jordanmiracle" class="icon brands fa-github"><span>Github</span></a>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Me -->
        <article id="home" class="panel intro">
            <header>
                <h2>Jordan Miracle</h2>
                <p>I can't think of anything catchy right now.</p>
            </header>
            <a href="#projects" class="jumplink pic">
                <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                <img src="{% static 'portfolioapp/images/me-and-kai(smudged).webp' %}" height=350px width=400px
                     alt="An image of Jordan and his feline son, Kaiju."/>
            </a>
        </article>

        <!-- About -->

        <article id="about" class="panel">
            <header>
                <h4>Some things about me</h4>
                <p>
                    I'm not great at talking about myself.
                </p>
            </header>
        </article>

        <!-- Work -->
        <article id="projects" class="panel">
            <header>
                <h2>Projects</h2>
            </header>
            <p>
                These are projects that are either completed or, for some of the bigger ones, are currently being
                developed.
                Everything from websites for companies and organizations, to small data mining and language processing
                applications. Some for employment, others as volunteer work for non-profits, and some just to learn and
                build things I like.
            </p>
            <section>
                <div class="wrapper">
                    {% for project in projects %}
                        <div class="card">
                            <input type="checkbox" id="{{ project.id }}" class="more" aria-hidden="true">
                            <div class="content">
                                <div class="front"
                                     style="background-image: url({{ project.image.url }})">
                                    <div class="inner">
                                        <h2>{{ project.title }}</h2>

                                        <label for="{{ project.id }}" class="cardbutton" aria-hidden="true">
                                            Details
                                        </label>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <div class="info">

                                        </div>
                                        <div class="description">
                                            <p>{{ project.description }}</p>

                                        </div>
                                        <div class="location">{{ project.title }}</div>
                                        <label for="{{ project.id }}" class="button return" aria-hidden="true">
                                            <i class="fas fa-arrow-left"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </section>
        </article>


        <!-- Contact -->
        <article id="contact" class="panel">
            <header>
                <h2>I'm available to contact, work with, or hire.</h2>
            </header>

            <div class="col-6 col-12-medium">
                <label>
                    <input type="text" name="email" placeholder="Email"/>
                </label>
            </div>
            <div class="col-12">
                <label>
                    <input type="text" name="subject" placeholder="Subject"/>
                </label>
            </div>
            <div class="col-12">
                <label>
                    <textarea name="message" placeholder="Message" rows="6"></textarea>
                </label>
            </div>
        </article>
        <!--  <div id="footer">
              <ul class="copyright">
                  <li>&copy; Miracle 2021</li>
              </ul>
          </div>-->
    </div>

    <!-- Scripts -->
    <script src="{% static 'portfolioapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'portfolioapp/js/browser.min.js' %}"></script>
    <script src="{% static 'portfolioapp/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'portfolioapp/js/util.js' %}"></script>
    <script src="{% static 'portfolioapp/js/main.js' %}"></script>
</body>
</html>

